.MainView {
  text-align: center;
}
.add-story-button {
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: #303236;
  color: #fff;
  font-size: 18px;
  border:unset;
  position:absolute;
  bottom:2%;
  left:87%;
}